<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info - Profesor</title>
    <link rel="stylesheet" href="/css/bootstrap-lumen.min.css">
    <link rel="stylesheet" href="/css/tutor/pagina_principal.css">
    <style>
        .foto_maestro{
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <!--Navbar-->
    <%- include("../../views/fragments/navbar_estudiante", {name : (user.nombre+" "+user.apellido1)}) %> 
    <div class="container">
        <%- include("../../views/fragments/navbar_header", {user}) %>
        <div class="row mt-5">
            <%- include("../../views/fragments/navbar_aside", {cursos: false, evaluaciones : false, avance : false, maestro : true}) %> 
            <div class="col-lg-9 border-start px-4 text-center">
                <% if (maestro.path_foto != null) { %>
                    <img class="foto_maestro" src="<%= maestro.path_foto %>" alt="foto_maestro" width="150px">
                <% } else { %>
                    <img class="foto_maestro" src="/img/logo.png" alt="foto_maestro" width="150px">
                <% } %>
                <h3><strong>Prof. <span class="text-capitalize"><%= maestro.nombre %></span></strong></h3>
                <p class="mb-0">Docente del area de Química</p>
                <small>Telefono : <%= maestro.telefono %></small>
            </div>
        </div>
    </div>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>
</html>